<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>POS - Unauthorized</title>
    <link rel="stylesheet" href="/css/401.css">
</head>
<body>
    <div class="container">
        <h1>{{code}}</h1>
        <h2>{{message}}</h2>
    </div>
</body>
</html>