html {
    overflow-y: scroll;
}
body {
    background: #a7d7c5;
}

label {
    display: block;
    /* margin-bottom: 10px; */
}

button {
    display: block;
}

li {
    list-style: none;
    outline: none;
}

ul {
    padding-inline-start: 0;
}

a {
    outline: none;
}

.alert {
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translate(-50%, 0);
    display: none;
}

.logout {
    background-color: #ffffff;
    border: 1px solid #c2c2c2;
    border-top: 0;
    border-right: 0;
    border-bottom-left-radius: .25rem;
    color: #000;
    font-size: small;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    z-index: 99999;
}

/* food menu */
.container {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.tabs-nav-container {
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: inline-block;
    align-self: center;
}

.nav-link {
    display: flex;
    flex: 1;
    align-content: center;
}

.nav-pills .nav-link.active {
    background-color:#C33C54;
}

.nav-pills .nav-link {
    color: #000;
}

.nav-pills .nav-link:hover {
    transform: translateY(-2px);
}

.container-drawer-buttons {
    margin-top: 3em;
}
.tabs-nav button {
    width:100%;
    margin-bottom: 1em;
}

/* .menu-item-image {
    height: 100px;
    display: contain;
} */

.container-items {
    display: flex;
    flex: 1;
    justify-content: center;
}
.tab-content {
    display: flex;
    justify-content: center;
    /* left:50%; */
}

.tab-items-grid {
    position: relative;
    width: 790px;
}

.order {
    display: block;
    position: absolute;
    width: 250px;
    /* height: 200px; */
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    margin: 10px 6px;
    /* padding: 0px 0px 0px 10px; */
    /* background: white; */
}

.muuri-item-dragging {
    z-index: 3;
}
.muuri-item-releasing {
    z-index: 2;
}
.muuri-item-hidden {
    z-index: 0;
}


.order .display-item-description {
    font-size: 0.9rem;
}

.card-container {
    display: flex;
    flex-direction: row;
}

.order .btn-group {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

.order .btn-sm {
    border-radius: 0.2rem 0 0 0.2rem;
}

.card {
    border: none;
}

.card-header {
    padding: 7px;
    background-color: #5c8d89;
    color: white;
    border-bottom: none;
}

.dropdown-item:active {
    background: #C33C54;
}

.card-body {
    /* height: 20px; */
    padding: 1rem;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    /* background-color: #f9f8eb; */
    /* overflow-y: auto; */
}
.card-body .order-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

.card-body .order-line .order-line-checkandname {
    display: flex;
    flex-grow: 1;
}

input.order-line-checkbox {
width: 1.2rem;
height: 1.2rem;
align-self: center;
margin-right: 7px;
}

.card-footer {
    padding: 4px 10px;
    /* height: 46px; */
    text-align: right;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.item-buttons {
    align-self: center;
}

.modal {
    top: 15%;
}

.modal-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
}

.modal-body .modal-buttons {
    padding: 10px;
}

.modal-body button {
    align-self: center;
    width: 50%;
    margin: 10px;
    /* margin-bottom: 15px; */
}
