html {
    overflow-y: scroll;
}

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

label {
    display: block;
    /* margin-bottom: 10px; */
}

button {
    display: block;
}

li {
    list-style: none;
    outline: none;
}

ul {
    padding-inline-start: 0;
}

a {
    outline: none;
}

.alert {
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translate(-50%, 0);
    display: none;
}

.container {
    width: 100%;
    max-width: none;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.tabs-nav {
    width: 13.5em;
    text-align: center;
    margin-right: 2em;
    margin-top: 10px;
}

.nav-link {
    display: flex;
    flex: 1;
    align-content: center;
    padding: .5rem .7rem;
    height: 2.5rem;
}

.nav-item {
    background: #ffffff;
    display: flex;
    height: 2.5rem;
    border-radius: .25rem;
    /* height: 100%; */
}

.ui-state-highlight { 
    height: 2.5em; 
    line-height: 1.2em; 
}

.ui-sortable-helper {
    background: #ffffff;
    border: 1px solid rgba(0,0,0,.125);
}

.ui-state-active {
    border: 1px solid rgba(0,0,0,.125);
}

.nav-pills .nav-link.active {
    background-color: #ffffff;
}

.nav-pills .nav-link.disabled {
    color: #b9b9b9;
}

.nav-link .category-name-link {
    align-self: flex-start;
    margin: auto 0;
}

.nav-link .icon-hidden {
    height: 1.5rem;
    width: 1.5rem;
    align-self: flex-end;
    margin: 0 0 0 auto;
    background-image: url(../img/hidden.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.actions {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 0 10px;
}

.actions__button {
    margin-bottom: 5px;
}

.info-card {
    margin-top: 40px;
    padding: 10px;
    font-size: 0.9rem;
}

.tabs-nav button {
    width:100%;
    margin-bottom: 1em;
}

.container-items {
    display: flex;
    flex: 1;
    justify-content: center;
}

.menu-category-grid {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-item {
    display: flex;
    height: 325px;
    flex-basis: 48%;
    min-width: 300px;
    margin: 10px 6px;
}

.card-img-top {
    width: 100%;
    height: 150px;
    /* min-height: 150px; */
    object-fit: cover;
}

.price-tag {
    min-width: 80px;
    position: absolute;
    right: 0;
    padding: .25rem .5rem;
    margin-top: .75rem;
    margin-right: .75rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #e8e8e8;
}

.menu-item .display-item-description {
    font-size: 0.8rem;
}

.diet-icon {
    width: 2rem;
    height: 2rem;
    margin: 0 5px;
}

.card-body {
    flex: none;
    height: 125px;
    padding: 1rem;
    word-break: break-all;
}

.card-footer {
    padding: 5px 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Modal */

.modal-dialog {
    margin-top: 10px;
}

.modal-title {
    line-height: 1;
}

.modal-header {
    border-bottom: none;
    padding-bottom: 0;
}

.modal-header .close {
    padding-top: 0.5rem;
}

.modal-footer {
    border-top: none;
    padding-top: 0;
}
.form-group {
    font-size: 0.9rem;
    line-height: 1;
    margin-bottom: 0.75rem;
}


/* .item-buttons {
    align-self: center;
} */

@media (max-width: 900px) {
    .menu-item {   
        width: 100%;
        flex-basis: 100%;
    }
}