.sidebar_menu {
    background: #C33C54;
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    max-width: 180px;
    width: 180px;
    padding-top: 15px;
    color: #ffffff;
}

.nav-pills .sidebar-nav-link {
    /* border: 2px solid white; */
    border-radius: .85rem;
    margin: 5px;
    text-align: center;
    justify-content: center;
}

.sidebar-nav-link{
    color: #ffffff;
    font-weight: 600;
}

.sidebar-nav-link:hover{
    background-color: rgba(0,0,0,.15);
    color: #ffffff;
}

.nav-pills .nav-link.sidebar-nav-link.active{
    color: #C33C54;
    font-weight: 600;
}

.user {
    background: #C33C54;
    font-size: small;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}

.user__username {
    margin-bottom: 10px;
}

.user__logout {
    color: #fff;
}

.user__logout:hover {
    color: #fff;
}

#icon-logout {
    filter: invert(100%);
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-left: 5px;
}

#icon-user {
    filter: invert(100%);
    display: inline-block;
    height: 40px;
    width: 40px;
}