<link rel="stylesheet" href="/css/sidebar-admin.css">
<div class="sidebar_menu">
    <div class="user">
    <img id="icon-user" src="/img/user.svg"/>
    <p class="user__username">{{currentUser.username}}</p>
    <a class="user__logout" href="/logout">Log out<img id="icon-logout" src="/img/door-exit.svg"/></a>
    </div>
    <nav class="nav flex-column nav-pills">
        <a class="nav-link sidebar-nav-link {{#if (equals page "menu")}}active{{/if}}" href="/admin/menu">Menu</a>
        <a class="nav-link sidebar-nav-link {{#if (equals page "users")}}active{{/if}}" href="/admin/users">Users</a>
        <a class="nav-link sidebar-nav-link" href="/kitchen" target=”_blank”>Kitchen</a>
        <a class="nav-link sidebar-nav-link" href="/display" target=”_blank”>Display</a>
        <a class="nav-link sidebar-nav-link" href="/menu" target=”_blank”>Client Panel</a>
    </nav>
</div>

{{!-- <div class="user">
    <img id="icon-logout" src="/img/door-exit.svg"/>
    <p class="user__welcome">Hello {{currentUser.username}}</p>
    <a class="user__logout" href="/logout">Log out<img id="icon-logout" src="/img/door-exit.svg"/></a>
</div> --}}